{% extends 'semstew/base.html' %}

{% block title %}Home - SemStew{% endblock %}

{% block content %}
<!-- ##### Top Catagory Area Start ##### -->
    <section class="top-catagory-area section-padding-80-0">
        <div class="container">
            <div class="row">
                <!-- Top Catagory Area -->
                <div class="col-12 col-lg-6">
                    <div class="single-top-catagory">
                        <img src="img/bg-img/bg2.jpg" alt="">
                        <!-- Content -->
                        <div class="top-cta-content">
                            <h3>Štefánikova 52</h3>
                            <h6>Come &amp; Eat</h6>
                            <a href="#" class="btn delicious-btn">Visit</a>
                        </div>
                    </div>
                </div>
                <!-- Top Catagory Area -->
                <div class="col-12 col-lg-6">
                    <div class="single-top-catagory">
                        <img src="img/bg-img/bg3.jpg" alt="">
                        <!-- Content -->
                        <div class="top-cta-content">
                            <h3>Sejfertova 67</h3>
                            <h6>Come &amp; Eat</h6>
                            <a href="#" class="btn delicious-btn">Visit</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Top Catagory Area -->
                <div class="col-12 col-lg-6">
                    <div class="single-top-catagory">
                        <img src="img/bg-img/bg2.jpg" alt="">
                        <!-- Content -->
                        <div class="top-cta-content">
                            <h3>Rumunská 25</h3>
                            <h6>Come &amp; Eat</h6>
                            <a href="#" class="btn delicious-btn">Visit</a>
                        </div>
                    </div>
                </div>
                <!-- Top Catagory Area -->
                <div class="col-12 col-lg-6">
                    <div class="single-top-catagory">
                        <img src="img/bg-img/bg3.jpg" alt="">
                        <!-- Content -->
                        <div class="top-cta-content">
                            <h3>Šmeralova 3</h3>
                            <h6>Come &amp; Eat</h6>
                            <a href="#" class="btn delicious-btn">Visit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Top Catagory Area End ##### -->
{% endblock %}